# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/


# OS/Editor
.DS_Store


# Keep data folder in repo, but don't commit derived stuff
data/
data/raw/
data/raw/**        # allow raw files (tracked by LFS below)
data/processed/

